<header>
  <nav class="header-nav">
    <a class="header-title" href="/">Album Hub</a>
    <ul>
      <li><a href="/authors">Artists</a></li>
      <li><a href="/authors/new">Add Artist</a></li>
      <li><a href="/books">Albums</a></li>
      <li><a href="/books/new">Add Album</a></li>
    </ul>
  </nav>
</header>